footer {
    div {
        background-color: $colorMarron;
        padding: 2vh;
        font-size: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
    
}

.footer__p {
    display: flex;
    justify-content: space-evenly;
    color: $white;
    text-align: center;
    align-items: center;
        p {
            font-size: 2vh;
            }
        a {
            img {
                height: 10vh;
            }
        }
}

.footer__text {
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__redes {
    display: flex;
    justify-content: center;
    a {
        img {
            height: 3vh;
            padding: 2vh;
            vertical-align: initial;
            box-sizing: initial;
        }
    }
}
