@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Kanit', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header{
    position: sticky;
    top: 0px;
    background: $colorMarron;
    z-index: 10;

}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    .header__menu {
        @extend .header__navbar;
    }
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    @include alto_ancho (3px, 25px);
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $white;
}


.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: $white;
}

.nav-link:hover{
    color: $white;
}

.nav-link:focus {
    font-weight: 600;
    color: $white;
}

.nav-link:after {
    display: block;
    content: '';
    border-bottom: solid 1px $white;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.nav-link:hover:after { transform: scaleX(1); }
.nav-link.fromRight:after{ transform-origin:100% 50%; }
.nav-link.fromLeft:after{  transform-origin:  0% 50%; }

.header__logo {
    height: 10vh;
    position: sticky;
    top: 0px;
    z-index: 10;
}